<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <div class="container">
        <b><ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#home" style="text-decoration: none;">General</a></li>
          <li><a data-toggle="tab" href="#menu1" style="text-decoration: none;">Attachments</a></li>
        </ul></b>
        <hr class="myhr">
        <b><p class="mytext">Vehicle Details</p></b>
        <hr class="myhr2">
        <form>
            <div class="input-group mb-3">
                <label class="col-sm-2 col-form-label">SAP Code</label>
                <input type="text" class="form-control" aria-label="Text input with dropdown button" desabled>
            </div>
            <div class="input-group mb-3">
                <label class="col-sm-2 col-form-label">Ledger Name</label>
                <input type="text" class="form-control" value="ADV TO OD09C8553" disabled>
            </div>
            <div class="input-group mb-3">
                <label class="col-sm-2 col-form-label">Manufacturer</label>
                <input type="text" class="form-control" aria-label="Text input with dropdown button">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
                <button id="mybutton">✏</button>
            </div>
            <div class="input-group mb-3">
                <label class="col-sm-2 col-form-label">Model</label>
                <input type="text" class="form-control myinputs" aria-label="Text input with dropdown button">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
                <button id="mybutton">✏</button>
            </div>
            <div class="input-group mb-3">
                <label class="col-sm-2 col-form-label rfield">Vehicle type</label>
                <input type="text" class="form-control" aria-label="Text input with dropdown button">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
            </div>
            <div class="input-group mb-3">
                <label class="col-sm-2 col-form-label rfield">Base KM</label>
                <input type="text" class="form-control" aria-label="Text input with dropdown button">
            </div>
            <div class="input-group mb-3">
                <label class="col-sm-2 col-form-label ">RTO</label>
                <input type="text" class="form-control" aria-label="Text input with dropdown button">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
                <button id="mybutton">✏</button>
            </div>
            <b><p class="mytext">Engine Details</p></b>
            <hr class="myhr2">
            <div class="input-group mb-3">
                <label class="col-sm-2 col-form-label">Vehicle type</label>
                <input type="text" class="form-control" aria-label="Text input with dropdown button">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
            </div>
            <div class="input-group mb-3">
                <label class="col-sm-2 col-form-label">Chassis Name</label>
                <input type="text" class="form-control" aria-label="Text input with dropdown button" desabled>
            </div>
            <div class="input-group mb-3">
                <label class="col-sm-2 col-form-label">Fuel type</label>
                <input type="text" class="form-control" aria-label="Text input with dropdown button">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
            </div>
            <div class="input-group mb-3">
                <label class="col-sm-2 col-form-label">Old Vehicle No.</label>
                <input type="text" class="form-control">
            </div>
</body>

</html>